:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block; /* O padrão do Vite é flex, que quebra o layout */
  min-width: 320px;
  min-height: 100vh;
  background-color: #F3F4F6; /* Cor de fundo cinza claro */
}

/* IMPORTANTE: Isso destrava a largura máxima */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
